site_name: curso.dev notes
nav:
  - Home: index.md
  - Setup do Ambiente:
      - 01. Iniciando o setup do ambiente: setup_ambiente/01_setup_do_ambiente.md
      - 02. Definindo a estrutura de testes: setup_ambiente/02_estrutura_de_testes.md
      - 03. Definindo os Linters: setup_ambiente/03_linters.md
      - 04. Git Overview: setup_ambiente/04_Git_Overview.md
  - Setup do Backend:
      - 01. Criando uma página de status: setup_backend/01_pagina_status.md
      - 02. Integrando um Banco de Dados local: setup_backend/02_banco_local.md
      - 03. Integrando um Banco de Dados de Produção e Staging: setup_backend/03_banco_prod_staging.md
  - Database Migrations:
      - 01. Configurando o node-pg-migrations: database_migrations/01_Configurando_node-pg-migrations.md
      - 02. Criando os endpoints da API para migrations: database_migrations/02_Criando_API_Migration.md
  - Setup do CI/CD:
      - 01. Estabilizando o ambiente local: setup_cicd/01_Estabilizando_Local.md

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
